:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --background-color: #FFFFFF;
    --gray-color: #101828;
    
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; 

}
  
body {
    width: 100%;
    height: 100vh;
}
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 80px;
    margin: auto;
}

.container__logo {
    display: flex;
    justify-content: center;
    padding: 0px 32px;
    
}
.container__logo img {
    width: 25px;
    height: auto;
    margin-right: 10px;
    
}

.container__logo a {
    color: #3A404E;
    font-size: 1.5em;
    margin: 0.5em 0;
}


.container__paginas a {
    align-items: flex-start;
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
}

.container__botoes a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 15px;
    padding: 8px 16px;
    border: 1px solid var(--background-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.container__botoes a.container__botoes__cadastro {
    text-decoration: none;
    background-color: #8E2424;
    color: var(--background-color);
    border-color: #8E2424; /* Adicionando borda apenas para o botão de cadastro */
}

.container__botoes a.container__botoes__entrar {
    text-decoration: none;
    background-color: transparent; /* Mantendo o fundo transparente para o botão de entrar */
}

.container__botoes a:hover {
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  1440px;
    height:  407px;
    padding: 96px, 0px, 96px, 0px;
    margin: auto;
   
}

.cabecalho__filho {
    text-align: center;
    padding: 20px;
}

.cabecalho__filho__sobre {
    color: var(--main-color);
    width: 78px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    
}


.cabecalho__filho__diferença {
    color: var(--gray-color);
    font-weight: 600;
    padding: 1.5rem;
    font-size: 48px;
    
}

.cabecalho__filho__texto {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    
}

.metricas {
    display: flex;
    justify-content: center;
    margin: auto ;
    width: 1440px;
    height: 288px;
    padding: 0px, 0px, 96px, 0px;
    gap: 64px;

}

.metricas__campo {
    align-items: center;
    width:  280px;
    height: 168px;
}

.metricas__titulo {
    color: var(--main-color);
    font-size: 60px;
    font-weight: 600;

}

.metricas__subtitulo {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
    padding: 1rem 0 0.5rem 0;
}

.metricas__texto {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}

.vagas {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1440px;
    height: 1798px;
    padding: 96px, 0px, 96px, 0px;
    gap: 30px;

}

.vagas__titulo {
    color: var(--main-color);
    align-self: center;
    font-weight: 500;
    font-size: 14px;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 4px 12px 4px 12px;

}

.vagas__subtitulo {
    color: var(--gray-color);
    align-self: center;
    font-size: 36px;
    font-weight: 600;
}

.vagas__texto {
    align-self: center;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}

.vagas__img {
    align-self: center;
    padding: 2rem;
}

.vaga {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 940px;
    margin-left: 25%;

}
.categoria__vaga {
    margin-bottom: 2rem;
   
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 500;
}
.titulo__vaga {
    margin-left: 5rem;
    padding: 2rem, 2rem, 2rem, 5rem;
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
}
.informacoes {
    padding: 2rem 0 2rem 5rem;
    color:var(--text-color);
    font-weight: 500;
    font-size: 16px;
   
}

.container__borda { 
   
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px 24px 28px 24px;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.depoimentos {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin:auto;
    width: 1440px;
    height: 500px;
    padding: 0px, 0px, 96px, 0px;

}

.depoimentos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#C3191908;
    border-radius: 16px;
    width: 1280px;
    height: 404px;

    
}
.depoimentos__titulo {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    
}
.depoimentos__texto {
    font-size: 36px;
    font-weight: 500 ;
    color: var(--gray-color);
    text-align: center;
    padding: 2rem;
    
}
.depoimentos__nome {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-color);
    padding: 1rem 0 0.5rem 0;
    
}
.depoimentos__funcao {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}
.depoimentos__img {
    width: 56px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:auto;
    width: 1440px;
    height: 430px;
    padding: 96px, 0px, 96px, 0px;
    background-color: #f9fafb;
}

.formulario__info {
    margin:auto;
    width: 832px;
    height: 182px;
    padding: 0px, 32px, 0px, 32px;
    gap: 32px;
}

.formulario__titulo{
    font-size: 36px;
    font-weight: 600;
    color: var(--gray-color);
    margin-bottom: 2rem;
}

.formulario__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.formulario__caixa {
    width: 360px;
    height: 48px;
    margin-top: 2rem;
    padding-left: 0.5rem;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    gap: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
    
}
.formulario__botao {
    width: 116px;
    height: 48px;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    gap: 8px;
    color: var(--background-color);
}
.formulario__rodape__info {
    width: 393px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 2rem;
    margin-left: 13rem;
}
